* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main {
  flex: 2 1 auto;
}

.Main .DisplayList {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

footer {
  font-size: 0.8rem;
  text-transform: uppercase;
}

/* Display UI */

.Display {
  position: relative;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.Display>div {
  border: solid 1px blue;
}

.Display .delete {
  position: absolute;
  top: 0;
  right: 0;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0px;
}

.Display .DST {
  padding: 3px;
  border-radius: 2px;
  background-color: rgb(180, 180, 180);
  border: solid 1px rgb(73, 73, 73);
  color: rgb(73, 73, 73);
}

.Display .DST.active {
  padding: 3px;
  border-radius: 2px;
  background-color: green;
  border: solid 1px rgb(120, 255, 120);
  color: rgb(120, 255, 120);
}

/* Clock UI */

.Clock {
  position: relative;
  background-color: white;
  border: solid 2px black;
  border-radius: 999px;
}

.Display .Clock {
  height: 80px;
  width: 80px;
}

.SecondaryDisplay .Clock {
  height: 70px;
  width: 70px;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Clock .pivot {
  height: 7px;
  width: 7px;
  background-color: white;
  border-radius: 999px;
  border: solid 2px black;
}

.Clock .clock-hand-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Clock .ClockHand div {
  background-color: black;
  height: 50%;
}

.Clock .ClockHand div:last-child {
  /* Change to white when rotation is working */
  background-color: rgba(0, 0, 0, 0);
}

.Clock .hour{
  width: 3%;
  height: 40%;
}

.Clock .minute {
  width: 2%;
  height: 80%;
}

.Clock .second {
  width: 1%;
  height: 90%;
}