:root {
  font-size: 17px;
    /* Colour variables */
  --main-color: rgb(36, 36, 36);
  --card-color: rgb(255, 255, 255);
  --bg-color: #f7f6f2;
  --light-brown: #ca855d;
  --mauve: #6f242f;
  --pale-green: #a2bdaf;
  --mustard-yellow: #f4b53f;
  --inactive-grey: rgb(172, 172, 172);
  --border-radius-L: 20px;
  --border-radius-S: 10px;
  --border-radius-round: 999px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Sofia Sans', 'Sofia-Sans';
  color: var(--main-color);
  background-color: var(--bg-color);
}

h1, h2, h3 {
  margin: 0;
  text-transform: capitalize;
}

.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.Main {
  flex: 2 1 auto;
}

.Main .DisplayList {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

header p {
  margin: 1rem auto;
  width: 90%;
  text-align: start;
}

footer {
  font-size: 1rem;
  text-transform: uppercase;
}

footer p {
  font-size: 0.8rem;
  margin: 0.4rem auto;
}

a {
  color: var(--mauve);
  font-weight: 900;
}

a:hover {
  color: var(--light-brown);
}

/* Display width media queries */
@media screen and (max-width: 1500px) {
  .Main .DisplayList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  .Main .DisplayList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .Main .DisplayList {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  .Main .DisplayList {
    grid-template-columns: 1fr;
  }
}

/* Styling classes */

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Display UI */

.Display {
  height: 24rem;
  position: relative;
  background-color: var(--card-color);
  border-radius: var(--border-radius-L);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  color: var(--main-color);
  font-size: 0.9rem;
  font-weight: 600;
}

.Display p {
  margin: 0;
}

.Display h3 {
  font-size: 1.2rem;
  text-decoration: underline var(--pale-green);
}

.Display label {
  display: block;
}

.Display select {
  width: 80%;
  font-family: 'Sofia Sans', 'Sofia-Sans', sans-serif;
  font-size: 1rem;
  padding: 5px;
  border-radius: var(--border-radius-L);
  border: 2px solid var(--pale-green);
  background-color: white;
}

.Display input {
  border-radius: var(--border-radius-L);
  border: 2px solid var(--mustard-yellow);
  font-size: 1rem;
  padding: 2px 6px;
  font-family: 'DM Mono', monospace;
  text-align: right;
}

.Display input:hover,
.Display button:hover,
.Display select:hover {
  cursor: pointer;
}

.Display select option {
  font-size: 0.8rem;
  background-color: white;
}

.Display>div {
  margin: 0.1rem auto;
}

.Display .delete {
  font-family: 'Fredoka One', 'Fredoka-One';
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 2rem;
  width: 2rem;
  padding: 0;
  border: none;
  background-color: var(--mustard-yellow);
  border-radius: var(--border-radius-round);
  text-align: center;
}

.Display .delete:hover {
  background-color: var(--light-brown);
}

.Display .DST {
  padding: 4px 8px;
  margin: 0.3rem;
  background-color: var(--inactive-grey);
  color: var(--main-color);
  border-radius: var(--border-radius-L);
  font-size: 0.9rem;
}

.Display .DST.active {
  background-color: var(--pale-green);
  color: var(--main-color);
}

.Display .DigitalTime {
  margin: 0.3rem;
  font-size: 0.9rem;
  text-align: center;
  font-family: 'DM Mono', monospace;
  color: var(--light-brown);
}

/* Standardize height of last */
.CustomTimeInput .day-result {
  min-height: 1rem;
  max-height: 1rem;
}

/* Clock UI */

.Clock {
  position: relative;
  background-color: white;
  border: solid 2px var(--mauve);
  border-radius: var(--border-radius-round);
  height: 130px;
  width: 130px;
}

.Clock .pivot {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: var(--border-radius-round);
  border: solid 1px var(--mauve);
}

.Clock .clock-hand-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Clock .hour{
  width: 5%;
  height: 50%;
}

.Clock .minute {
  width: 3%;
  height: 80%;
}

.Clock .second {
  width: 2%;
  height: 90%;
}

/* Clockhand first half colours */
.ClockHand.hour div {
  background-color: var(--light-brown);
}

.ClockHand.minute div {
  background-color: var(--mustard-yellow);
}

.ClockHand.second div {
  background-color: var(--pale-green);
}

.Clock .ClockHand div {
  height: 50%;
  border-radius: var(--border-radius-round);
}

.Clock .ClockHand div:last-child {
  /* Second "half" of hand is invisible */
  background-color: rgba(0, 0, 0, 0);
}